@import "tailwindcss";

@theme {
  --color-on-background: #1a1c1c;
  --color-surface-bright: #f9f9f9;
  --color-primary-fixed: #e2e2e2;
  --color-surface-container-low: #f3f3f4;
  --color-primary: #5d5f5f;
  --color-tertiary-fixed-dim: #bccbb7;
  --color-on-secondary-fixed-variant: #474747;
  --color-on-secondary-container: #656464;
  --color-surface-container-high: #e8e8e8;
  --color-outline-variant: #c4c7c8;
  --color-tertiary: #556251;
  --color-on-secondary-fixed: #1b1c1c;
  --color-tertiary-fixed: #d8e7d2;
  --color-on-tertiary-fixed: #131e12;
  --color-on-tertiary-container: #5a6857;
  --color-on-surface-variant: #444748;
  --color-surface-tint: #5d5f5f;
  --color-inverse-surface: #2f3131;
  --color-on-primary-container: #636465;
  --color-on-tertiary-fixed-variant: #3d4a3b;
  --color-inverse-primary: #c6c6c6;
  --color-on-surface: #1a1c1c;
  --color-outline: #747878;
  --color-background: #f9f9f9;
  --color-on-tertiary: #ffffff;
  --color-on-primary-fixed-variant: #454747;
  --color-surface: #f9f9f9;
  --color-surface-container-highest: #e2e2e2;
  --color-secondary-container: #e4e2e1;
  --color-primary-fixed-dim: #c6c6c6;
  --color-secondary-fixed-dim: #c8c6c6;
  --color-tertiary-container: #d8e6d1;
  --color-surface-container: #eeeeee;
  --color-inverse-on-surface: #f0f1f1;
  --color-on-secondary: #ffffff;
  --color-primary-container: #e2e2e2;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary: #ffffff;
  --color-surface-dim: #dadada;
  --color-error: #ba1a1a;
  --color-surface-variant: #e2e2e2;
  --color-secondary-fixed: #e4e2e1;
  --color-secondary: #5f5e5e;

  --font-display-lg: "Playfair Display", serif;
  --font-headline-lg: "Playfair Display", serif;
  --font-headline-md: "Playfair Display", serif;
  --font-body-lg: "DM Sans", sans-serif;
  --font-body-md: "DM Sans", sans-serif;
  --font-label-sm: "DM Sans", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
  font-family: var(--font-body-md);
  -webkit-font-smoothing: antialiased;
}
